.sidebar {
  text-align: center;
}

.account-menu {
  text-align: center;
}

.list-title {
  font-weight: 700;
  button {
    vertical-align: middle;
  }
}

.channel-content {
  height: 100vh;
  margin-left: 256px;
  display: flex;
  flex-direction: column;
  .channel-content-container {
    overflow-x: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.channels-container {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
