.sidebar {
  text-align: center;
}

.account-menu {
  text-align: center;
}

.list-title {
  font-weight: 500;
  text-decoration: underline;
  button {
    vertical-align: middle;
  }
}

.channel-content {
  height: 100vh;
  // transition: 0.05s all;
  display: flex;
  flex-direction: column;
  .channel-content-container {
    overflow-x: hidden;
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.channels-container {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  .channel-item {
    text-decoration: none !important;
    &.active div {
      background-color: #424242 !important;
    }
  }
}

.sidebar > div{
  background: #ff4081;
  background: -moz-linear-gradient(top,  #ff4081 0%, #1a237e 100%);
  background: -webkit-linear-gradient(top,  #ff4081 0%,#1a237e 100%);
  background: linear-gradient(to bottom,  #ff4081 0%,#1a237e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4081', endColorstr='#1a237e',GradientType=0 );
  p {
    color: white !important;
  }
  .channels-container {
    div {
      color: white !important;
    }
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  background: #ff4081;
  background: -moz-linear-gradient(top,  #ff4081 0%, #1a237e 100%);
  background: -webkit-linear-gradient(top,  #ff4081 0%,#1a237e 100%);
  background: linear-gradient(to bottom,  #ff4081 0%,#1a237e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4081', endColorstr='#1a237e',GradientType=0 );
  position: absolute;
  z-index: 1400;
  justify-content: center;
  align-items: center;
  .close {
    position: absolute !important;
    top: 16px;
    right: 16px;
  }
  .paper {
    padding: 48px;
    max-width: 720px;
  }
}
