@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700');

$primary: #FF4081;
$secondary: #4E342E;

html, body, div, ul, li, label,  {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}
