@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700');

html, body, div, ul, li, label, h1, h2, h3, h4, h5, h6  {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

header::before {
  // Currently, the scrollable content goes over the header...
  background-color: white;
  opacity: 0.15;
  content: '';
  height: 64px;
  width: 100%;
  // z-index: 100 !important;
  display: inline-block;
  position: absolute;
}
