@import "variables";

.messages-container {
  background-color: white;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  .channel-messages {
    flex: 1;
    overflow-y: scroll;
    .message {
      max-width: 720px;
      margin: 8px auto;
    }
  }
  .message-input-container {
    height: 96px;
    background-color: #424242;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      align-items: center;
      width: 100%;
      .messages-input {
        flex: 1;
        margin-left: 16px;
      }
    }
  }
}

.no-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #6f6f6f;
}
