@import "variables";

.messages-container {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#6a6a6a, #d6d6d6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6a6a6a, #d6d6d6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#6a6a6a, #d6d6d6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6a6a6a, #d6d6d6); /* Standard syntax (must be last) */
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: -56px;
  .channel-messages {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .message {
      max-width: 720px;
      margin: 8px auto;
    }
  }
  .message-input-container {
    height: 96px;
    background-color: #424242;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      align-items: center;
      width: 100%;
      .messages-input {
        flex: 1;
        margin-left: 16px;
      }
    }
  }
  .padder {
    margin-top: 72px;
  }
}

.no-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #6f6f6f;
  // h2 {
  //   margin: 36px;
  // }
}
