.splash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    position: fixed;
    width: 100%;
    h1 {
      // cursor: pointer;
    }
  }
  main {
    flex: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4081+1,1a237e+100 */
    background: #ff4081;
    background: -moz-linear-gradient(-45deg,  #ff4081 1%, #1a237e 100%);
    background: -webkit-linear-gradient(-45deg,  #ff4081 1%,#1a237e 100%);
    background: linear-gradient(135deg,  #ff4081 1%,#1a237e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4081', endColorstr='#1a237e',GradientType=1 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    section {
      margin: 0 auto;
      margin-top: 80px;
      margin-bottom: 16px;
    }
  }
  .message {
    margin: 16px;
    min-width: 280px;
    max-width: 560px;
    div {
      font-size: 16px !important;
    }
  }
}

.auth {
  max-width: 500px;
  padding: 8px 16px;
  text-align: center;
  margin: 0 auto;
  .fields {
    padding-top: 0 !important;
  }
  .card-title {
    padding-bottom: 0 !important;
  }
}
